body {
  background: #eee;
  font-family: sans-serif;
}

.card {
 padding: 8px;

}

.title {
  font: 16px;
  background: #e3f4ff;
margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  width: 400px;
  border: 8px solid white;


}

.content {
  background: #e3f4ff;
  margin-bottom: 0px;
  padding:16px 8px;
  width: 400px;
  border: 8px solid white;
  font-size: 22px;
}

.button-container {
  background: #e3f4ff;
  border: 8px solid white;
  width: 400px;
  padding:16px 8px;
  text-align: center;
  font-size: 18px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
 text-align: center;
 margin: auto;
 font-size: 22px;
}